<!doctype html>
<html>

<head>
	<title>Board Game Nerd</title>
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>

<body>
	<div id="header">
		<ul id="menu-bar">
			<li class="list-item"><a href="./">Home</a></li>
			<li class="list-item"><a href="./reviews">Reviews</a></li>
			<li class="list-item"><a href="./choose">Choose</a></li>
			<li class="list-item"><a href="./contribute">Contribute</a></li>
		</ul>
	</div>
	<div id="dummy-div">

	</div>
	<br>
	<br>
	{{{body}}}
	<br>
	<footer>
		<div id="foot">
			<ul id="author-info">
				<li class="footer-item"><a href="https://www.linkedin.com/in/brandonlenz-pmp/" target="_blank">Get in
						Touch</a></li>
				<li class="footer-item"><a href="https://oregonstate.edu/" target="_blank">Sponsored by Oregon
						State</a></li>
				<li class="footer-item"><a href="mailto: lenzb@oregonstate.edu?Subject=Hello, let's get in touch!"
						target-"_blank">lenzb@oregonstate.edu</a></li>
				<li class="footer-item" id="downloadResume">
					<a href="assets/downloadables/Postbac_Resume_Brandon_Lenz_May_2021.pdf" download>Résumé</a>
				</li>
			</ul>
		</div>
		<p id=" footer-text">
			Brandon Lenz - CS290 - Section 400
		</p>
	</footer>
</body>

</html>