<h1 id="choose_a_game">Choose a game to play!</h1>
<div id="scrolling_table">
    <table id="games_table">

        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    # of Players
                </th>
                <th>
                    Playtime
                </th>
                <th>
                    BGN Rating
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="color_row">
                <td class="game_title">Dominion</td>
                <td class="game_data">
                    2-6
                </td>
                <td class="game_data">
                    30-60 minutes
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Game of Thrones the Board Game</td>
                <td class="game_data">
                    3-8
                </td>
                <td class="game_data">
                    4-6 hours
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Terraforming Mars</td>
                <td class="game_data">
                    2-5
                </td>
                <td class="game_data">
                    2-3 hours
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Azul</td>
                <td class="game_data">
                    2-4
                </td>
                <td class="game_data">
                    30 minutes
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Gloomhaven</td>
                <td class="game_data">
                    2-4
                </td>
                <td class="game_data">
                    1-2 hours (per round)
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Blood Rage</td>
                <td class="game_data">
                    2-4
                </td>
                <td class="game_data">
                    60-90 minutes
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Diplomacy</td>
                <td class="game_data">
                    4-7
                </td>
                <td class="game_data">
                    Really long, like longer than monopoly
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Risk</td>
                <td class="game_data">
                    3-6
                </td>
                <td class="game_data">
                    Until your sibling quits
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Principle Dilemma</td>
                <td class="game_data">
                    2-6+
                </td>
                <td class="game_data">
                    30-90 minutes
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">Monopoly</td>
                <td class="game_data">
                    2-8
                </td>
                <td class="game_data">
                    Never truly ends, someone just quits
                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    15 Days
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    7 Wonders
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Abandon All Artichokes
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Arboretum
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Blokus
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Calico
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Carcassonne
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Cards Against Humanity
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Catan
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Cobra Paw
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Dixit
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Fort
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Root
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Golems
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Joking Hazard
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Oceans
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Quiddler
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Scythe
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Sushi Go Party!
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
            <tr class="color_row">
                <td class="game_title">
                    Ticket to Ride
                </td>
                <td class="game_data">

                </td>
                <td class="game_data">

                </td>
                <td class="game_data">
                    We need you to contribute more ratings!
                </td>
            </tr>
        </tbody>

    </table>
</div>
<button id="randomizer" class="randomizer">
    Randomly pick a game!
</button>

<script>
    // Randopmly picks a game to have the user play
    const button = document.getElementById("randomizer");
    const gamesList = document.getElementsByClassName("color_row");
    const chosenGame = gamesList[Math.floor(Math.random() * gamesList.length)].getElementsByClassName("game_title")[0].innerText;

    let clicks = 0;

    button.addEventListener('click', function () {
        if (clicks == 0) {
            window.alert("You should play " + chosenGame + "!");
        } else {
            window.alert("Did you think the answer was going to change?  You should go play " + chosenGame + "!");
        }
        clicks += 1;
    });
</script>