<div id="user_submission">
    <h1 class="title">
        Submit a review for a game!
    </h1>
    <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php"
        target="_blank">
        <label class="contribute_label">Board Game Name</label>
        <input type="text" autocomplete="off" autofocus required placeholder="Board game name..."
            class="board_game_name">
        <br>
        <br>
        <label class="contribute_label">How Likely are you to play again?</label>
        <br>
        <input type="radio" name="rating" value=1 required>
        <label class="contribute_label">1 - Not At All</label>
        <br>
        <input type="radio" name="rating" value=2 required>
        <label class="contribute_label">2</label>
        <br>
        <input type="radio" name="rating" value=3 required>
        <label class="contribute_label">3</label>
        <br>
        <input type="radio" name="rating" value=4 required>
        <label class="contribute_label">4</label>
        <br>
        <input type="radio" name="rating" value=5 required>
        <label class="contribute_label">5 - Very likely</label>
        <br>
        <br>
        <label class="contribute_label">How Complex Was the Game to Learn?</label>
        <br>
        <input type="radio" name="rating" value=1 required>
        <label class="contribute_label">1 - Easy</label>
        <br>
        <input type="radio" name="rating" value=2 required>
        <label class="contribute_label">2</label>
        <br>
        <input type="radio" name="rating" value=3 required>
        <label class="contribute_label">3</label>
        <br>
        <input type="radio" name="rating" value=4 required>
        <label class="contribute_label">4</label>
        <br>
        <input type="radio" name="rating" value=5 required>
        <label class="contribute_label">5 - Difficult</label>
        <br>
        <br>
        <label class="contribute_label">Tell us about your experience with the game</label>
        <br>
        <textarea name="review" rows="5" cols="30" required minlength="32" maxlength="1024"
            placeholder="Your experience..." class="written_review"></textarea>
        <br>
        <input type="submit" name="submit" value="GET your submission out there" class="contribute_form_submission">
        <br>
    </form>
</div>