<h1 id="title">Board Game Nerd</h1>

<div class="carousel">

    <button class="carousel_control carousel-control-left">
        <img src="assets/images/toppng.com-left-arrow-carousel-520x980.png" alt="" class="carousel_control_image">
    </button>

    <div class="carousel-inner">
        <ul class="carousel_track">
            <li class="carousel_slide current_carousel_slide">
                <a href="https://www.riograndegames.com/games/dominion/" target="_blank"><img
                        src="assets/images/dominion-intrigue-featured-edited.jpg" alt="Dominion"
                        class="carousel_image"></a>
                <cite
                    class="imageCitation">https://whatsericplaying.files.wordpress.com/2016/07/dominion-intrigue-featured-edited.jpg</cite>
            </li>
            <li class="carousel_slide">
                <a href="https://www.fantasyflightgames.com/en/products/a-game-of-thrones-the-board-game-second-edition/"
                    target="_blank"><img src="assets/images/Game-Of-Thrones-Board Game.jpg"
                        alt="Game of Thrones the Board Game" class="carousel_image"></a>
            </li>
            <li class="carousel_slide">
                <a href="https://www.fryxgames.se/games/terraforming-mars/" target="_blank"><img
                        src="assets/images/terraforming_mars.jpg" alt="Terraforming Mars" class="carousel_image"></a>
            </li>
        </ul>
    </div>

    <button class="carousel_control carousel-control-right">
        <img src="assets/images/toppng.com-right-arrow-carousel-520x980.png" alt="" class="carousel_control_image">
    </button>

    <ul class="carousel-indicators">
        <li class="indicator indicator_active"></li>
        <li class="indicator"></li>
        <li class="indicator"></li>
    </ul>

</div>
<script src="js/carousel.js"></script>