<ul>
    <li>
        <a href="/reviews/dominion">Dominion</a>
    </li>
    <li>
        <a href="/reviews/gameofthrones">Game of Thrones the Board Game</a>
    </li>
    <li>
        <a href="reviews/terraformingmars">Terraforming Mars</a>
    </li>
</ul>